*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif
}
.container{
    width:100%;
    position:fixed;
}
.navbar .box-navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:darkseagreen;
}
.navbar .logo{
    margin-left:10px;
    color:rgb(94, 13, 170);
    font-weight:700;
}
.navbar .logo .foto{
    clip-path:circle(50%);
    margin-left:10px;
}
.navbar .box-navbar .menu-navbar ul{
    display:flex;
}
.navbar .box-navbar .menu-navbar ul li{
    list-style-type:none;
    margin-inline:10px;
}
.navbar .box-navbar .menu-navbar ul li a{
    text-decoration:none;
    margin-inline:10px;
    font-weight:700;
}
/*.container{
    border:2px solid black;
    width:80%;
    height:2000px;
    margin-inline:auto;
}
.navigasi {
    width:100%;
    height:50px;
    background-color:#3EB489;
    color:whitesmoke;
    text-align:center;
    padding-top:10px;
    position:fixed;
}

h5{
    margin:10px 0 0 0;
    padding-left:15px;
    padding-top:5px;
}

nav{
    float:right;
    padding-right:25px;
    word-spacing:25px;
}
nav a{
    text-decoration:none;
    font-weight:700;
    color:whitesmoke;
}
a:hover{
    color:blueviolet;
}*/

.hero{
    width:100%;
    height:200px;
    background-color:blueviolet;
}
h2{
    text-align:center;
    margin:auto;
    padding-top:100px;
}
.artikel{
    width:100%;
    height:500px;
    background-color:green;
    text-align:justify;
}

.container1{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.satu{
    width:400px;
    height:200px;
    background-color:cadetblue;
}
.dua{
    width:400px;
    height:200px;
    background-color:chartreuse;
}
.tiga{
    width:400px;
    height:200px;
    background-color:darkgreen;
}
